body {
    background-color: #f5a5ac;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

header {
    background-color: #3354e6c4;
    text-align: center;
}

h1 {
    border-bottom: 10px solid #121318b6;
    padding: 5px;
    margin: 20px;
}

.image-container {
    text-align: center;
    background-color: black;
    padding: 20px;
}

.personal-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #5976f7;
}
