body {
    background-color: #070707;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


* {
    font-family: 'Roboto', sans-serif;
}

.Container-Nav {
    color: #ffffff;
    position: fixed;
    background-color: #000000;
    list-style-type: none;
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
}

.checkbtn {
    float: right;
    line-height: 80px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.Nav-Main {
    align-content: center;
    margin-right: 5vh;
}

.Lists li {
    display: inline-flex;
}

.Lists li a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 18px;
    border-bottom: 2px solid transparent; /* Mantén el borde inicial transparente */
    transition: border-color 0.3s ease-in-out; /* Aplica la transición solo al color del borde */
}

.Lists li a:hover {
    border-color: white;
}

.Tittle-Main {
    margin-left: 35px;
}

#Section-Main {
    background-color: #070707;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#Section-AboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;

}

.Container-AboutMe{
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 70%;
    height: 70%;
    box-shadow: 0 8px 10px 10px #0000001a;
}

.Img-AboutMe{
    display: block;
    text-align: center;
    background-color: #b50556;
    width:65%;
    height: 70%;
    margin-right: 30px;
}

.Img-AboutMe img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#Portafolio{
    background-color: red;
    height: 500px;
}


.My-Tittle {
    display: flex;
    width: 350px;
    height: auto;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

span {
    display: inline-block;
    color: #b50556;
    white-space: nowrap;
    border-right: 3px solid;
    margin-left: 11px;
    width: 14ch;
    overflow: hidden;
    animation: typing 3s steps(14) infinite, blink .5s infinite step-end alternate;
}

@keyframes typing {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 14.45ch;
    }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.Img-Main {
    width: 290px;
    height: auto;
    border-radius: 45%;
    margin-top: 50px;
    margin-right: 100px;
    object-fit: cover;
}

.Img-Main:hover {    
    transform: scale(1.01); 
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 10px #414141f6;
}


.bar-icon {
    display: none;
}

@media (max-width: 768px) {
    .Tittle-Main {
        display: none;
    }
    
    #Section-Main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .About-Me{
        height: 80%;
    }


    .My-Tittle {
        width: auto;
        height: auto;
    }

    .Img-Main {
        display: none;
    }

    .My-Tittle {
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .checkbtn {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer;
        background-color: #b50556;
        font-size: 45px;
        width: 100%;
        
    }

    #Nav-Bar {
        display: flex;
        justify-content: end;
        margin-right: 2rem;
    }

    .Nav-Main {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 45px;
        left: -100%;
        text-align: center;
        background: #070705;
        transition: all .5s;
    }

    .Lists {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin-bottom: 250px;
    }

    .Lists li {
        margin-top: 50px;
    }

    .Lists li a {
        font-size: 30px;
    }

    #check:checked ~ .Nav-Main {
        left: 0;
    }

    #check:checked ~ .Nav-Main .Lists li a {
        background-color: transparent;
        transition: background-color 0.3s;
    }

    /* Al hacer clic en un enlace, ocultar el menú desmarcando el checkbox */
    .Nav-Main a {
        display: block;
        text-align: center;
        line-height: 60px;
    }

    #check:checked ~ .Nav-Main .Lists li a:active ~ #check {
        display: none;
    }

    #check:not(:checked) ~ .Nav-Main ul {
        display: none;
    }
    
}
