body {
    background-color: #070707;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}


* {
    font-family: 'Roboto','sans-serif';
}

.Container-Nav {
    color: #ffffff;
    position: fixed;
    background-color: #000000;
    list-style-type: none;
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    z-index: 100;
}

.checkbtn {
    float: right;
    line-height: 80px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.Nav-Main {
    align-content: center;
    margin-right: 3vh;
}

.Lists li {
    display: inline-flex;
}

.Lists li a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 18px;
    border-bottom: 2px solid transparent; /* Mantén el borde inicial transparente */
    transition: border-color 0.3s ease-in-out; /* Aplica la transición solo al color del borde */
}

.Lists li a:hover {
    border-color: white;
}

.Tittle-Main {
    margin-left: 35px;
}

#Section-Main {
    background-color: #070707;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.My-Tittle {
    display: flex;
    width: 50vw;
    height: auto;
    font-size: 5vw;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.My-Tittle span {
    display: inline-block;
    color: #b50556;
    white-space: nowrap;
    border-right: 3px solid;
    width: 100%;
    max-width: 14.55ch;
    overflow: hidden;
    animation: typing 3s steps(15, end) infinite, blink 0.5s infinite step-end alternate;
}


@keyframes typing {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 14.55ch;
    }
}

@keyframes blink {
    50% { border-color: transparent; }
}



.Img-Main {
    max-width: 30vw;
    height: 65%;
    border-radius: 20%;
    margin-top: 50px;
    object-fit: cover;
    box-shadow: 0px 0px 5px #fffcfce8;
}

.Img-Main:hover {    
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 10px #fffcfce8;
}

/* ---------------------------------------------------- SECCIÓN SOBRE MI ----------------------------------------- */

#Section-AboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: auto;
}


.Container-AboutMe{
    display: flex;
    flex-direction:row;
    margin-top: 4rem;
    padding: 30px;
    width: 90%;
    height: 70%;
    box-shadow: 0 8px 10px 10px #0000001a;
}

.About-Me {
    width: 100%;
    margin-left: 20px;
    margin-top: 35px;
}

h2{
    position: relative;
    font-size: 30px;
}

h2:after {
    content: "";
    background: #b50556;
    position: absolute;
    bottom: 0;
    left:0;
    height: 12%;
    width: 7vh;
}

.About-Me p{
    line-height: 2;
    margin-bottom: 30px;
    font-size: 1.2vw;
    justify-content: center;
    
}

.Img-AboutMe{
    display: block;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    background-color: #b50556;
    border-radius: 12%;
    box-shadow: 0 8px 10px 10px #0000001a;
}

.Img-AboutMe img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
}

.Container-Icons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.Container-Icons i{
    font-size: 3vw;
    width: 100%;
}

.Container-Icons h3{
    font-size: 1vw;
}

.Contact-Info{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-left: 20px;
}


.Contact-Info p {
    font-size: 1.5vw;
    margin-right: 30px;    
}

.Contact-Info p a i{
    margin-right: 10px;
    color: #070707;
    font-size: 2.4vw;

}
/* ------------------------------------------------------------------------------------------------------------------------- */

/* Menu Responsive */
.bar-icon {
    display: none;
}

/* ---------------------------------------------------- SECCIÓN EXPERIENCIA ------------------------------------------------------------ */
#Section-Experience-Education{
    background-color: #ffffff;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);   
    
}

.Container-Experience, .Container-Education{
    font-size: 1.2vw; /* Responsive 1.8 ~ 1-9 vw*/
    margin-top: 4rem;
    padding: 1rem;
}
.Container-Experience .Card, .Container-Education .Card{
    border-left: 5px solid #b50556;
    padding: 10px;
    margin: 30px;
    transition: all .5s;
}

.Container-Experience .Card:hover, .Container-Education .Card:hover{
    transform: scale(1.1); 
    overflow: auto;
    box-shadow: 0px 0px 10px #070705;
}

.Container-Cards .Card h2{
    text-align: center;
    align-items: center;
}

.Container-Cards .Card{
    line-height: 1.5;
}

.Container-Cards .Card ul li{
    margin-bottom: 10px;
}

.hidden-heading {
    visibility: hidden;
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------- SECCIÓN PROYECTOS --------------------------------------------------------------- */

#Section-Projects{
    background-color: #ffffff;

}

#Section-Projects .Container-Projects{
    margin-top: 80px;
    padding: 30px;
}

#Section-Projects .Container-Projects .Container-Cards{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    font-size: 1.5VW;
}


#Section-Projects .Container-Cards .Card a img{
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
}

#Section-Projects .Container-Cards .Card a img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #070705;
}

#Section-Projects .Container-Cards .Card h3{
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------*/

#Section-Contact{
    height: 100vh;
}


.arrow-up{
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.arrow-up a i{
    color: #b50556;
    font-size: 45px;
    transition: all 0.5s;
}

.arrow-up .at-top i{
    transform: rotate(180deg);
}

/*Se creo a partia de un Scrip en JavaScript de arrow-up*/
.overArrowUp:hover {
    transform: scale(1.5);
}



.Reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.5s;
}


.Reveal.visible {
    transform: translateY(0);
    opacity: 1;
}

section {
    animation: fadeIn 1s ease-in;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



/*--------------------------RESPONSIVE--------------------------*/

@media (max-width: 768px) {
    .Tittle-Main {
        display: none;
    }

    #Section-Main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .My-Tittle {
            font-size: 10vw; /* Ajustar el tamaño del texto basado en la vista */
            width: auto;
            height: auto;
            align-items: center;
            text-align: center;
            margin: 0;
        }

    .My-Tittle span {
        width: auto; /* Permitir que el ancho sea dinámico */
        max-width: 90vw; /* Limitar el ancho máximo a un porcentaje de la vista */
        font-size: 10vw; /* Ajustar el tamaño del texto basado en la vista */
    }

    .Img-Main {
            display: none;
    }
    
    .Container-AboutMe{
        flex-direction: column;
        align-items: center;
        max-width: 75%;
        max-height: auto;
        margin-top: 45px;
    }
    
    .About-Me{
        height: 50%;
        overflow: auto;
        margin-left: 0px;
        padding: 30px;
    }
    

    .About-Me p{
        font-size: 2vw;
    }


    .Img-AboutMe{
        height: 100%;
        max-width: 50%;
    }
    
    .Container-AboutMe .Img-AboutMe{
        height: 50%;
        width: 100%;
    }
    
    .Container-AboutMe .Container-Icons{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(10px, auto);
    }

    .Container-AboutMe .Container-Icons i{
        font-size: 50px;
    }
    .Container-AboutMe .Container-Icons h3{
        font-size: 20px;
    }

    .Container-AboutMe .Contact-Info {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(10px, auto);
        align-items: center;
        text-align: center;
    }

    .Container-AboutMe .Contact-Info p a i{
        font-size: 35px;
    }
    
    #Section-Experience-Education{
        grid-template-columns: repeat(1, 1fr);
        
    }

    #Section-Experience-Education .Container-Cards{
        font-size: 15px;
    }

    #Section-Projects .Container-Projects .Container-Cards{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(10px, auto);
    }

    #Section-Projects .Container-Projects .Container-Cards{
        font-size: 15px;
    }

    #Section-Projects .Container-Projects{
        margin-top: 20px;
    }


    .checkbtn {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer;
        background-color: #b50556;
        font-size: 45px;
        width: 100%;
    }
    
    #Nav-Bar {
        display: flex;
        justify-content: end;
        margin-right: 1rem;
    }
    
    .Nav-Main {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 45px;
        left: -100%;
        text-align: center;
        background: #070705;
        transition: all .5s;
    }
    
    .Lists { 
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
        list-style-type: none;
        list-style-type: none;
        padding: 0;
        margin-bottom: 100px;
    }
    
    .Lists li {
        margin-top: 5vh;
    }
    
    .Lists li a {
        font-size: 5vh;
        
    }

    /* Al hacer clic en un enlace, ocultar el menú desmarcando el checkbox */
    .Nav-Main a {
        display: block;
        text-align: center;
        line-height: 60px;
    }

    #check:checked ~ .Nav-Main {
        left: 0;
    }

    #check:checked ~ .Nav-Main .Lists li a {
        transition: background-color 0.3s;
    }
    
    #check:checked ~ .Nav-Main .Lists li a:active ~ #check {
        display: none;
    }
    
    #check:not(:checked) ~ .Nav-Main ul {
        display: none;
    }
    .arrow-up{
        right: 10px;
    }

}

/*--------------------------RESPONSIVE--------------------------*/


@media (max-width: 400px) {
        .Img-AboutMe{
            max-width: 100%;
        }
        .Container-AboutMe .Container-Icons{
            grid-template-columns: repeat(2, 1fr);
        }
        .Container-AboutMe .Contact-Info{
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            text-align: center;
        }

        .About-Me p{
                font-size: 20px;
        }
        
        #Section-Experience-Education{
            display: block;
            max-width: 100%;
            height: 100%;
            grid-template-columns: repeat(1, 1fr);
            height: auto;
        }
        
        .Container-Experience .Card, .Container-Education .Card{
            border-left: 3px solid #b50556;
            margin-left: 0;
            padding: 5px;
        }

        .Container-Experience .Card ul, .Container-Education .Card ul{
            padding: 10px;
            margin-left: 10PX;
        }

        .Container-Experience .Card:hover, .Container-Education .Card:hover{
            transform: scale(1);
            
        }

        #Section-Projects .Container-Projects .Container-Cards{
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(10px, auto);
        }


        .Lists li a {
            font-size: 3.2vh;
            
        }

    }

/*--------------------------RESPONSIVE--------------------------*/