body {
    background-color: #070707;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


* {
    font-family: 'Roboto', sans-serif;
}

.Container-Nav {
    color: #ffffff;
    position: fixed;
    background-color: #000000;
    list-style-type: none;
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
}

.checkbtn {
    float: right;
    line-height: 80px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.Nav-Main {
    align-content: center;
    margin-right: 5vh;
}

.Lists li {
    display: inline-flex;
}

.Lists li a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 18px;
    border-bottom: 2px solid transparent; /* Mantén el borde inicial transparente */
    transition: border-color 0.3s ease-in-out; /* Aplica la transición solo al color del borde */
}

.Lists li a:hover {
    border-color: white;
}

.Tittle-Main {
    margin-left: 35px;
}

#Section-Main {
    background-color: #070707;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.My-Tittle {
    
    display: flex;
    width: 50vw;
    height: auto;
    font-size: 5vw;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    
}

.My-Tittle span {
    display: inline-block;
    color: #b50556;
    white-space: nowrap;
    border-right: 3px solid;
    width: 100%; /* Ajustar a todo el ancho disponible */
    max-width: 14.5ch; /* Limitar el ancho máximo a 14 caracteres */
    overflow: hidden;
    animation: typing 3s steps(14) infinite, blink .5s infinite step-end alternate;
}


@keyframes typing {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 14.45ch;
    }
}

@keyframes blink {
    50% { border-color: transparent; }
}


.Img-Main {
    width: 25%;
    height: auto;
    border-radius: 20%;
    margin-top: 50px;
    object-fit: cover;
    box-shadow: 0 0px 5px #fffcfce8;
}

.Img-Main:hover {    
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 10px #fffcfce8;
}



#Section-AboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;

}

.Container-AboutMe{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top: 70px;
    width: 80%;
    height: 70%;
    box-shadow: 0 8px 10px 10px #0000001a;
}

.About-Me {
    margin-left: 30px;
}

.Img-AboutMe{
    display: block;
    text-align: center;
    max-width: 100%;
    height: 100%;
    background-color: #b50556;
    border-radius: 12%;
    box-shadow: 0 8px 10px 10px #0000001a;
}

.Img-AboutMe img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
}

/* Menu Responsive */
.bar-icon {
    display: none;
}


#Portafolio{
    background-color: red;
    height: 100vh;
}

/*--------------------------RESPONSIVE--------------------------*/

@media (max-width: 768px) {
    .Tittle-Main {
        display: none;
    }
    
    #Section-Main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .My-Tittle {
            font-size: 10vw; /* Ajustar el tamaño del texto basado en la vista */
            width: auto;
            height: auto;
            align-items: center;
            text-align: center;
            margin: 0;
        }

    .My-Tittle span {
        width: auto; /* Permitir que el ancho sea dinámico */
        max-width: 90vw; /* Limitar el ancho máximo a un porcentaje de la vista */
        font-size: 10vw; /* Ajustar el tamaño del texto basado en la vista */
    }

    .Img-Main {
            display: none;
    }
    
    .Container-AboutMe{
        flex-direction: column;
        align-items: center;
        max-width: 70%;
        max-height: auto;
        margin-top: 20px;
    }
    
    .About-Me{
        height: 50%;
        overflow: auto;
    }
    
    .Img-AboutMe{
        height: 100%;
        max-width: 50%;
    }
    
    .Container-AboutMe .Img-AboutMe{
        height: 50%;
        width: 100%;
    }
    
    
    .checkbtn {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer;
        background-color: #b50556;
        font-size: 45px;
        width: 100%;
        
    }
    
    #Nav-Bar {
        display: flex;
        justify-content: end;
        margin-right: 1rem;
    }
    
    .Nav-Main {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 45px;
        left: -100%;
        text-align: center;
        background: #070705;
        transition: all .5s;
    }
    
    .Lists { 
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
        list-style-type: none;
        list-style-type: none;
        padding: 0;
        margin-bottom: 100px;
    }
    
    .Lists li {
        margin-top: 5vh;
    }
    
    .Lists li a {
        font-size: 5vh;
        
    }
    
    #check:checked ~ .Nav-Main {
        left: 0;
    }
    
    #check:checked ~ .Nav-Main .Lists li a {
        background-color: transparent;
        transition: background-color 0.3s;
    }
    
    /* Al hacer clic en un enlace, ocultar el menú desmarcando el checkbox */
    .Nav-Main a {
        display: block;
        text-align: center;
        line-height: 60px;
    }
    
    #check:checked ~ .Nav-Main .Lists li a:active ~ #check {
        display: none;
    }
    
    #check:not(:checked) ~ .Nav-Main ul {
        display: none;
    }
    
}

/*--------------------------RESPONSIVE--------------------------*/
@media (max-width: 450px) {
        .Img-AboutMe{
            max-width: 100%;
        }
    }
/*--------------------------RESPONSIVE--------------------------*/